
<div class="main-content">
  <div class="card contact-card">
    <h3>Contact Me</h3>

    <p>
      <strong>Email:</strong>
      <a href="mailto:your.email&#64;gmail.com">llarvesg18&#64;gmail.com</a>
    </p>

    <p>
      <strong>Phone:</strong>
      <a href="tel:+1234567890">+1 234 567 890</a>
    </p>

    <p>
      <strong>LinkedIn:</strong>
      <a href="https://www.linkedin.com/in/gerwin-llarves-534240305/" target="_blank">linkedin.com/in/gerwin-llarves-534240305
    </a>
  </div>
</div>
