<div class="main-content">
  <div class="card about">
    <h3>About Me</h3>
    <img src="assets/me.jpg" alt="My photo" />
    <p>
         Dedicated <strong>Cloud Engineer</strong> with a strong passion for <em>designing</em>, <em>implementing</em>, and <em>optimizing cloud
         infrastructure</em> to support <strong>scalable</strong>, <strong>reliable</strong>, and <strong>secure applications</strong>. Experienced in building
        <strong>robust cloud environments</strong>, managing system performance, and driving architectural improvements that align
        with business goals. Known for a <em>proactive approach</em> to solving complex challenges and continuously improving
        <strong>cloud efficiency</strong> and <strong>resilience</strong>.
    </p>
  </div>
